@import "tailwindcss";


/* 
    #030712
    #061735
    #0c3469
    #1e5e9b
    #6894c2 */

/*     
    #25324b
    #384b71 
    #506aa0
    #96afd8
    #c6d4ec
    #b1c0db 
    #e5eaf3
 */

  .my_button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-family: inherit;
    background-color: #25324b;
    color: #e5eaf3;
    cursor: pointer;
    transition: border-color 0.25s;

  }
  .my_button:hover {
    border-color: #25324b;
    background-color: #506aa0 ;
    color: #e5eaf3;
  }
  .my_button:focus,
  .my_button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  .my_button-2 {
    font-family: inherit;
    background-color: #25324b;
    color: #e5eaf3;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .my_button-2:hover {
    border-color: #25324b;
    background-color: #506aa0;
    color: #e5eaf3;
  }
  .my_button-2:focus,
  .my_button-2:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }



.bg_dt{
  background-color: #96afd8;
}

.bg_dt2{
  background-color: #e5eaf3;
}

.bg_dt3{
  background-color: #c6d4ec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: #25324b solid 1px;
}

.bg_dt4{
  background-color: #e5eaf3;
  border-bottom: #25324b solid 1px;
  border-left: #25324b solid 1px;
  border-right: #25324b solid 1px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.style_dt{
  background-color: #506aa0;
  color: #c6d4ec;
}

.style_dt:hover {
  border-color: #506aa0;
  background-color: #96afd8;
  color: #506aa0;
}

.style_dt2{
  background-color: #d8dfed ;
  color: #030712;
}

.style_dt2:hover {
  border-color: #506aa0;
  background-color: #c6d4ec;
  color: #030712;
}

.tx_dt{
  color: #030712;
}

.tx_dt:hover{
  color: #506aa0;
}

.my_text_color{
  color: #6894c2;
}

.muted{
  background-color: gray;
}

.text-muted-foreground{
  color: gray;
}

.bg-primary {
  background-color: #25324b; /* Azul oscuro */
}

.text-primary-foreground {
  color: #e5eaf3; /* Blanco claro */
}

.sombra{
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3), 0 6px 8px -3px rgba(0, 0, 0, 0.3);
}